*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}
svg{
  position: fixed;
  top:7vh;
  justify-content: space-around;
  align-items: center;
}
.nemoh{
  transform-origin: 50% 50%;
  fill:#f9c200;
  cursor: pointer;
}
.lefteye{
  transform-origin: 50% 50%;
  transform: scale(0.2);
  fill:#676764;
}
.righteye{
  transform-origin: 50% 50%;
  transform: scale(0.2);
  fill:#676764;
}
.button{
  transform-origin: 50% 50%;
  fill:transparent;
  cursor: pointer;
}
.shadow{
  transform-origin: 50% 50%;
  transform: scale(0.2);
}
.nem{
  transform-origin: 50% 50%;
  fill:#444444;
  opacity: 0;
}
section{
  background: #FAFAFA;
}
